:root {
  
  /* Fonts */
  --paragraphFont: "Magra", sans-serif;
  --titleFont: 'PT Sans', sans-serif;
  
  /* Colors */
  --mainColor: #b9340b;
  --secondColor: #cea45c;
  --smoothColor: #c5be8b;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --brownColor: #3f261c;
  
  /* utilities */
  --cardBoxShadow: 2px 1px 4px 3px rgba(0,0,0,25%);
  --normalSpacing: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
/* Fonts */
/*Globals*/

html {
  box-sizing: border-box; /* so border, padding and margin don't affect original width*/
  /* font-size: 62.5%; 1rem = 10px */
}

*, *::before, *::after{
  box-sizing: inherit; /*inherits from html*/
}

body {
  font-family: var(--paragraphFont);
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--titleFont);
}

h1 {
  font-size: 36px;
}

h2  {
  font-size: 27px
}

h3 {
  font-size: 21px;
}

img {
  max-width: 100%;
}

/* Utilities */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.mt-20{
  margin-top: 20px
}

.ml-1{
  margin-left: 3px
}

.ml-2{
  margin-left: 6px;
}

.p-0{
  padding: 0;
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: 700;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap-1{
  gap: 1px;
}

.gap-10{
  gap: 10px;
}

.position-fixed{
  position: fixed;
}

.my-box{
  display: flex;
}
