/* Breakpoints according to w3schools */
/* Extra small devices (phones, 600px and down) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 100px;
  border: 1px solid #000;
}

@media screen and (min-width: 1200px) {
  .card {
    flex: 0 0 calc((100% - 30px) / 4); /* flex-shrink, flex-grow, flex-basis */
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    flex: 0 0 calc((100% - 20px) / 3);
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .card {
    flex: 0 0 calc((100% - 10px) / 2);
  }
}

@media screen and (max-width: 599px) {
  .card {
    flex: 0 0 100%;
  }
}