html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

/* Breakpoints according to w3schools */
/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 599px) {
  .container {
    background-color: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .container {
    background-color: blue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
  .container {
    background-color: aqua;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
  .container {
    background-color: green;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
  .container {
    background-color: yellow;
  }
}
